
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"  >
    <div class="carousel-inner" >
      <div class="carousel-item active" *ngIf="articulos">
        <img src="{{articulos[0].getImagen()}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item " *ngFor="let articulo of articulos" >
        <img  src="{{articulo.getImagen()}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div  class="cardContainer">
    <div *ngFor="let articulo of articulos; let i = index" class="cards" >
    <img *ngIf="i >1 && i < 5" src="{{articulo.getImagen()}}" alt="" class="imgtarjeta">
    <p *ngIf="i >1 && i < 5">{{articulo.getNombre()}}</p>
    <img *ngIf="i >=5 " src="{{articulo.getImagen()}}" alt="" class="imgtarjeta" (click)="navegarAFicha(articulo.getId())">
    <p *ngIf="i >=5 ">{{articulo.getNombre()}}</p>
  </div>
  </div>

